@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Allura&display=swap");
.basket {
  background-color: white;
  padding: 10px;
}

.basket h1 {
  text-align: center;
  font-size: 1rem;
}

.basket svg {
  font-size: 10px;
  margin: 0 5px;
}

.basket .count,
.basket .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.basket .order-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

.basket .order-item .options {
  margin-left: auto;
  color: crimson;
}

.basket .total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.basket .total .total-price {
  margin-left: 5px;
}

.basket .payment button {
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrap {
  background-image: url("../../images/background-black.jpg");
  color: black;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
}

.wrap button {
  outline: none;
}

.wrap .menu-card {
  max-width: 60vw;
  margin: 40px auto;
  padding: 30px 10px;
  background-color: white;
}

.wrap .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.wrap .logo img {
  width: 80%;
  max-width: 200px;
}

.wrap .categories {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}

.wrap .col-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.wrap .col-1 img {
  max-width: 100%;
}

.wrap .col-1 .image {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.wrap .col-2 {
  width: 50%;
}

.wrap .col-2 img {
  max-width: 100%;
}

.wrap .col-2 .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.wrap .image img {
  max-width: 100%;
}

.wrap .category {
  padding: 0 20px;
}

.wrap .category h2 {
  font-size: 1.5rem;
}

.wrap .more {
  display: none;
}

.wrap .name {
  display: inline;
  font-weight: bold;
  white-space: unset;
}

.wrap .name p {
  display: inline;
}

.wrap .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-left: 25px;
}

.wrap .category {
  width: 100%;
}

.wrap .menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  margin-bottom: 10px;
}

.wrap .menu-item .id {
  margin-right: 10px;
}

.wrap .menu-item .price {
  justify-self: flex-end;
}

.wrap .menu-item .buy {
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
}

.wrap .menu-item .buy .active {
  background-color: #b40308;
}

.wrap .menu-item .buy .hide {
  display: none;
}

.wrap .menu-item .buy button {
  justify-self: flex-end;
  margin-left: 10px;
  height: 25px;
  width: 25px;
  border-style: none;
  border-radius: 50%;
  background-color: #77aa03;
  color: white;
  font-size: 10px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.wrap .menu-item .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0;
  padding: 0;
}

.wrap .buttons {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: -225px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
  width: 300px;
  padding: 0px;
  background-color: #77aa03;
  border-top-left-radius: 75px;
  border-bottom-left-radius: 75px;
  -webkit-transition: right 1s;
  transition: right 1s;
}

.wrap .buttons > div {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.wrap .buttons button {
  margin: 0;
  padding: 0;
  border-style: none;
  background-color: transparent;
  cursor: pointer;
}

.wrap .buttons .show-menu {
  height: 100%;
}

.wrap .buttons .show-menu button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: white;
}

.wrap .buttons .show-menu svg {
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.wrap .buttons .show-basket {
  height: 100%;
}

.wrap .buttons .show-basket button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: white;
}

.wrap .buttons .show-basket svg {
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.wrap .buttons .expand {
  justify-self: flex-start;
  display: block;
  height: 75px;
  width: 75px;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.wrap .buttons.active {
  right: 0;
}

@media (max-width: 1050px) {
  .wrap .wrap {
    font-size: 20px;
  }
}

@media (max-width: 1320px) {
  .wrap .col-1,
  .wrap .col-2 {
    width: 100%;
  }
  .wrap .menu-card {
    max-width: 80vw;
    padding-left: 0;
    padding-right: 0;
  }
  .wrap .categories {
    width: 100%;
  }
}
/*# sourceMappingURL=extra.css.map */