.basket-button {
  z-index: 4;
  position: fixed;
  bottom: 0px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0.8;
  border-radius: 5px;
  height: 100px;
  width: 100px;
  max-width: 15vw;
  max-height: 15vw;
  min-width: 35px;
  min-height: 35px;
  font-family: "open sans condensed";
  cursor: pointer;

  transition: 0.3s;

  &.hidden {
    display: none;
  }

  &.active {
    transform: scale(-1, 1);
  }
}

.basket-button:hover {
  background-color: $separator-color;
}
