.basket {
  background-color: white;
  padding: 10px;

  h1 {
    text-align: center;
    font-size: 1rem;
  }

  svg {
    font-size: 10px;
    margin: 0 5px;
  }

  .count,
  .options {
    display: flex;
    align-items: center;
  }

  .order-item {
    display: flex;
    width: 100%;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;

    .options {
      margin-left: auto;
      color: crimson;
    }
  }

  .total {
    display: flex;
    justify-content: flex-end;

    .total-price {
      margin-left: 5px;
    }
  }

  .payment {
    button {
      width: 100%;
    }
  }
}
