.hidden {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.button-collapsible {
  display: none;
}

@media (max-width: 1000px) {
  .nav {
    margin-left: 10px !important;

    ul.nav-collapsible {
      position: absolute;
      display: block !important;
      max-height: 0;
      overflow: hidden;
      transform: translateX(-25%);
      transition: max-height 0.2s ease-out;

      a {
        justify-content: center;
      }
    }

    .button-collapsible {
      display: block;
    }
  }
}
