footer {
  text-align: center;

  section {
    margin-bottom: 50px;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
  }

  .map {
    flex-grow: 1;
  }

  .rights {
    width: 100%;
  }

  .map {
    iframe {
      min-width: 100%;
      min-height: 200px;
    }
  }
}
