.main-navigation {
  .container {
    display: flex;
    justify-content: space-between;

    ul {
      display: flex;
      text-transform: uppercase;
      flex-wrap: wrap;
      justify-content: center;
      list-style: none;
      text-align: center;

      li {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      a {
        display: flex;
        align-items: center;
        width: 100%;
        text-decoration: none;
        padding: 10px 20px;
      }
    }
  }
}
