.reservation {
  text-align: center;

  h1 {
    margin-bottom: 50px;
  }

  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    input {
      height: 30px;
    }

    & > div:not(.modal) {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding: 0 5px;
    }

    .additional-info {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;

      & > div {
        display: flex;
        flex-direction: column;
        width: 50%;
      }

      .submit {
        margin-top: 50px;
      }
    }

    .time {
      flex-direction: column;
      max-width: 50%;

      label {
        margin-right: 5px;
      }
    }

    .wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;

      div {
        display: flex;
        width: 48%;

        input {
          flex-grow: 1;
        }
      }
    }
  }

  .next {
    width: 100%;
  }

  button#reserve {
    margin: 50px auto;
  }

  #hidden-form {
    position: fixed;
  }
}
