$separator-color: #444801;
$font-color: #3f1503;
$font: "Open Sans Condensed", sans-serif;
$rotate-time: 0.2s;
$animation: $rotate-time both linear;
$animation-delayed: $rotate-time $rotate-time both linear;
