@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Allura&display=swap");
.wrap {
  background-image: url("../../images/background-black.jpg");
  font-family: "Josefin Sans", sans-serif;
  color: white;
  font-size: 25px;
  button {
    outline: none;
  }
}
.menu-card {
  max-width: 100vw;
}
.back {
  background-color: rgba(0, 0, 0, 0.7);
}
.logo {
  max-width: 60%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  * {
    width: 40%;
  }
  h1 {
    font-size: 1.2rem;
    color: #ffad00;
    font-family: "Allura", cursive;
    letter-spacing: 1px;
    transform: rotate(-6deg);
    margin: 10px;
  }
}
.categories {
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.col-1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    max-width: 100%;
  }
  .image {
    align-self: flex-start;
  }
}
.col-2 {
  width: 50%;
  img {
    max-width: 100%;
  }
  .image {
    display: flex;
    justify-content: flex-end;
  }
}
.image {
  img {
    max-width: 100%;
    max-width: 100%;
  }
}
.category {
  h2 {
    font-size: 2rem;
  }

  padding: 0 20px;
  &:nth-child(odd) {
    &::after {
      content: "";
      display: block;
      width: 150px;
      border: 2px solid gold;
    }
  }
  &:nth-child(even) {
    &::after {
      content: "";
      display: block;
      width: 150px;
      border: 2px solid #77aa03;
    }
  }
}
.more {
  display: none;
  display: none;
}
.name {
  font-weight: bold;
  white-space: unset;
}
.price {
  margin-left: 25px;
}

.category {
  width: 100%;
}

.col-1 {
  .category {
    padding-left: 100px;
  }
}
.col-2 {
  .category {
    padding-right: 100px;
  }
}

.menu-item {
  display: flex;
  padding: 5px 0;
  justify-content: space-between;
  .item-image {
    min-height: 75px;
    min-width: 75px;
    margin-right: 10px;
    img {
      width: 100%;
    }
  }
  .product-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    .info {
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-between;
      white-space: unset;
      p {
        margin: 0;
      }
      .price {
        margin-left: auto;
      }
      .description {
        width: 100%;
      }
    }
  }
  .buy {
    margin-left: 10px;
    button {
      font-size: 20px;
      height: 100%;
      background-color: transparent;
      border-style: none;
      color: white;
      width: 75px;
      height: 75px;
      background-color: #77aa03;
      transition: 0.6s;
    }
    .active {
      background-color: #b40308;
    }
    .hide {
      display: none;
    }
  }
}
.next-page {
  color: #ffad00;
  &:hover {
    color: #77aa03;
  }
}
.buttons {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  overflow: hidden;
  background-color: #77aa03;
  right: -225px;
  height: 75px;
  width: 300px;
  border-top-left-radius: 75px;
  border-bottom-left-radius: 75px;
  padding: 0px;
  transition: right 1s;
  > div {
    flex-grow: 1;
  }
  button {
    background-color: transparent;
    border-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }
  .show-menu {
    height: 100%;
    button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      font-family: "Josefin Sans", sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      height: 100%;
      width: 100%;
      text-align: center;
      color: white;
    }
    svg {
      margin-bottom: 10px;
      font-size: 1.3rem;
    }
  }
  .show-basket {
    height: 100%;
    button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      font-family: "Josefin Sans", sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      height: 100%;
      width: 100%;
      text-align: center;
      color: white;
    }
    svg {
      margin-bottom: 10px;
      font-size: 1.3rem;
    }
  }
  .expand {
    justify-self: flex-start;
    display: block;
    height: 75px;
    width: 75px;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
  }
}
.buttons.active {
  right: 0;
}
@media (max-width: 1024px) {
  .wrap {
    font-size: 20px;
  }
}
@media (max-width: 950px) {
  .col-1 {
    width: 100%;
    .category {
      max-width: 100%;
    }
    .logo {
      max-width: 100%;
      font-size: 0.8rem;
    }
    .menu-item {
      flex-wrap: wrap;
    }
    .product-image {
      order: 1;
    }
    .buy {
      order: 2;
      flex-grow: 1;
    }
    .product-wrap {
      width: 100%;
      order: 3;
    }
  }
  .col-2 {
    width: 100%;
    .category {
      width: 100%;
    }
    .logo {
      max-width: 100%;
      font-size: 0.8rem;
    }
    .menu-item {
      flex-wrap: wrap;
    }
    .product-image {
      order: 1;
    }
    .buy {
      order: 2;
      flex-grow: 1;
    }
    .product-wrap {
      width: 100%;
      order: 3;
    }
  }
}
