@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");
$green: #77aa03;
$gold: #c87e29;

.wrap {
  font-family: "Josefin Sans", sans-serif;
  background-image: url("../../images/background-dark.jpg");
  background-attachment: fixed;
  background-size: cover;
  color: white;
  overflow: hidden;

  .back {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .logo {
    padding-top: 50px;
    font-size: 3rem;
  }

  .menu-card {
    z-index: 1;
    width: 80%;
    margin: 0 auto;
    font-size: 1.5rem;

    .name {
      font-weight: bold;
    }

    .price {
      margin-left: 25px;
    }

    .menu-items {
      flex-direction: column;
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;
    }

    .menu-item {
      &.hover {
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
  }

  .menu-category {
    &:nth-child(odd)::after {
      content: "";
      display: block;
      width: 50px;
      border: 2px solid $gold;
    }

    &:nth-child(even)::after {
      content: "";
      display: block;
      width: 50px;
      border: 2px solid $green;
    }
  }
  .more {
    display: none;
  }
}

.images {
  position: absolute;
  top: 0;
  width: 50%;
  right: 0;
  min-height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  img {
    max-width: 60%;
  }
}

.basket-button {
  z-index: 4;
  position: fixed;
  bottom: 0px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0.8;
  border-radius: 5px;
  height: 100px;
  width: 100px;
  max-width: 15vw;
  max-height: 15vw;
  min-width: 35px;
  min-height: 35px;
  font-family: "open sans condensed";
  cursor: pointer;

  transition: 0.3s;

  &.hidden {
    display: none;
  }

  &.active {
    transform: scale(-1, 1);
  }
}

.basket-button:hover {
  background-color: green;
  opacity: 0.7;
}

.next {
  font-family: "Josefin Sans", sans-serif;
  position: absolute;
  right: 0;
  bottom: 0;
  color: white;
  padding: 10px;
  color: $gold;
  font-weight: bold;
  letter-spacing: 1px;
  svg {
    font-size: 0.6rem;
  }
}
