@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "variables";
@import "collapse";
@import "modal";
@import "normalize";
@import "media";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
}

button {
  background-color: rgba(0, 0, 255, 0.1);
  padding: 10px 20px;
  border: 1px solid #ddd;
}

.home {
  @import "main-navigation";
  @import "header";
  @import "reservation";
  @import "footer";
  @import "menu-navigation";

  font-family: arial;
  max-width: 100vw;

  .logo {
    justify-self: flex-start;

    img {
      width: 100px;
    }
  }

  h1 {
    text-align: center;
  }

  .container {
    max-width: 80vw;
    margin: 0 auto;
  }

  section,
  header {
    margin-bottom: 100px;
  }
}
